<h1>Dave#teach</h1>
<p>Find me in app/views/dave/teach.html.erb</p>
<div id='three-column'>
  Lorem ipsum dolor sit amet,
  consectetur adipisicing elit,
  sed do eiusmod tempor incididunt ut
  labore et dolore magna aliqua.
Consectetur adipisicing elit,
  sed do eiusmod tempor incididunt ut
  labore et dolore magna aliqua.
Adipisicing elit,
  sed do eiusmod tempor incididunt ut
  labore et dolore magna aliqua.
</div>

<ul id='vertical-center'>
  <li>One really long element that should wrap.  Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
  <li>Two</li>
  <li>Three</li>
  <li>Four</li>
  <li>Five</li>
  <li>Six</li>
</ul>

<div class='opacity-example' id='opacity-20'>Ahoj Davide</div>

<div class='ex'>
  <div class='gradient-example' id='radial-gradient'></div>
  <p>
    This will yield a radial gradient with an apparent specular highlight
  </p>
</div>