<h1>Dave#teach</h1>
<p>Find me in app/views/dave/teach.html.erb</p>
<div id='three-column'>
  Lorem ipsum dolor sit amet,
  consectetur adipisicing elit,
  sed do eiusmod tempor incididunt ut
  labore et dolore magna aliqua.
Lorem ipsum dolor sit amet,
  consectetur adipisicing elit,
  sed do eiusmod tempor incididunt ut
  labore et dolore magna aliqua.
Lorem ipsum dolor sit amet,
  consectetur adipisicing elit,
  sed do eiusmod tempor incididunt ut
  labore et dolore magna aliqua.
</div>